@font-face {
  font-family: mainFont;
  src: url(../font/main.ttf);
}

@font-face {
  font-family: mainBold;
  src: url(../font/mainSBold.ttf);
}

body {
  background-color: #32323e;
  color: #fff;
  font-family: mainFont;
}

#solve {
  padding: 4px;
  font-size: 14px;
}

#solve:focus {
  outline-width: 1px;
  outline-style: dashed;
  outline-color: red;
}

.box-input {
  padding: 6px;
  margin: 2px;
  font-size: 14px;
  background-color: transparent !important;
  color: #fff !important;
}

.label-box {
  font-size: 13px;
  color: #ffffff;
}

.form-main {
  padding: 25px;
  border-radius: 7px;
  background-color: #272730;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.output-res {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}

.picture-logo-0 {
  width: 150px;
  margin: 12px;
}

.desc-0 {
  text-decoration: none;
  font-size: 13px;
  font-family: mainBold;
}

.sosmed {
  font-size: 18px;
  margin-top: 175px;
}

.a-hover {
  color: #fff;
  margin-left: 20px;
}

.a-hover:hover {
  color: #dc3545;
}

.topAnnouncer {
  padding: 7px;
  font-size: 12px;
  border-bottom: 1px solid grey;
}

.u-00 {
  text-decoration: none;
}
